include icons

mixin comp-card(title, width=80)
    .card.tech-card
        .card-element
            h1= title
        .card-element
            .img
                img(src="../assets/images/"+title.toLowerCase().trim()+".png" width=width)

mixin exp-card(type, date, title, desc)
    .card-content 
        .icon-container
            .icon.card 
                +exp-icon(type)
        .card.exp-card
            .content 
                .date 
                    p= date
                .text
                    p.title= title 
                    p.desc= desc
