mixin comp-card(title, width=80)
    .card.tech-card
        .card-element
            h2= title
        .card-element
            .img
                img(src="../assets/images/"+title+".png" width=width)
        .card-element
            .search
                +search
            


mixin exp-card(type, date, title, desc)
    .card.exp-card
        .date 
            p= date
        p= title 
        p= desc
        